  body {
    margin: auto;
    text-align: center;
    font-family: MinecraftRegular;
    list-style-type: none;
    background-color:#1c1c1cd9;
    color:rgb(208, 208, 208);
  }
  
  .options {
    font-size: 20px;
    background-color: #5e5e5e;
    color: white;
  }
  @keyframes rainbow_animation {
      0%,100% {
          background-position: 0 0;
      }
  
      50% {
          background-position: 100% 0;
      }
  }
  @font-face {
     font-family: MinecraftRegular;
     src: url(fonts/MinecraftRegular.otf);
  }
  @font-face {
     font-family: MinecraftBold;
     src: url(fonts/MinecraftBold.otf);
  }
  @font-face {
     font-family: MinecraftItalic;
     src: url(fonts/MinecraftItalic.otf);
  }
  @font-face {
     font-family: MinecraftBoldItalic;
     src: url(fonts/MinecraftBoldItalic.otf);
  }
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(fonts/300.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(fonts/500.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(fonts/600.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(fonts/700.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Quicksand';
    font-style: regular;
    font-display: swap;
    font-weight: 400;
    src: url(fonts/regular.ttf) format('truetype');
  }
  .minecraft {
    font-family: MinecraftRegular;
  }
  .minecraftbold {
    font-family: MinecraftBold;
  }
  .minecraftitalic {
    font-family: MinecraftItalic;
  }
  .minecraftibold {
    font-family: MinecraftBoldItalic;
  }
  .minecraftunderline {
    text-decoration: underline;
  }
  .minecraftustrike {
    text-decoration: underline line-through;
  }
  .minecraftstrike {
    text-decoration: line-through;
  }
  #left {
    float: left;
    width: 500px;
  }
  
  #output {
    overflow-x: auto;
  }
  #output, #yaml {
    font-family: monospace;
  }
  .help {
    background: #d6d6d6;
    margin: 5px;
    padding: 5px;
  }
  #right {
    float: right;
  }
  #result {
    word-wrap: break-word;
    font-size: 18px;
    padding: 15px;
    border-radius: 30px;
    min-height: 50px;
    border: 2px solid #aaa;
    max-width: 100%;
  }
  .code {
    text-align: left;
    padding: 30px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
  }
  .examples {
    margin-top: 10px;
  }
  h1, h2 {
    margin: 0;
  }
  h1 {
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
  }
  .header, .footer {
    text-align: center;
  }
  .clear {
    clear: both;
  }
  .rainbow a:visited {
    text-decoration: underline;
    color: inherit;
  }
  .rainbow a {
    color: inherit
  }
  .rainbow a:hover {
    text-decoration: underline;
    color: inherit;
  }
  a:visited,a {
    color: rgb(23, 142, 246);
    text-decoration: none;
  }
  a:hover {
    color: rgb(246, 246, 23);
    text-decoration: none;
  }
  .error {
    color: rgb(241, 76, 76);
  }
  select.dark {
    background-color:#27152c;
    border-color:#2C3844;
    color:white;
  }
  .darkbuttonboxes {
    font-family: MinecraftRegular;
    border-radius: 25px;
    border-color:#25172f;
    background-color:#5e5e5e;
    color:white;
    border-style: solid;
    border-width: 2px;
  }
  .darktextboxes {
    font-family: MinecraftRegular;
    background-color:#ffffff;
    border-color:#43245c;
    color:rgb(39, 39, 39);
  }

  fieldset.group  { 
    margin: 0; 
    padding: 0; 
    padding: .125em; 
  } 
  
  fieldset.group legend { 
    margin: 0; 
    padding: 0; 
    font-weight: bold; 
    font-size: 100%; 
  }
  fieldset.button-solid button {
    border: none;
  }
  .button-solid {
    border: none;
  }
  ul.checkbox  {
    margin: 0; 
    padding: 0; 
    margin-left: 20px; 
    list-style: none; 
    text-align: left;
    list-style-type: none;
    
    column-width: 11em;
    column-gap: 2em;
    column-rule: 1px solid #676767;
    column-count: 3;
  } 
  ul.checkbox li input { 
    margin-right: -0.25em; 
  } 
  ul.checkbox li { 
    border: 1px transparent solid; 
    display:inline-block;
    width:12em;
  } 
  ul.checkbox li label { 
    list-style-type: none;
  } 
  ul.checkbox li:hover, 
  ul.checkbox li.focus  { 
    background-color: lightyellow; 
    border: 1px gray solid; 
    color: rgb(138, 0, 99);
    width: 12em; 
  } 
  
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    font-size: 20px;
    border: 2px solid #aaa;
    border-radius: 30px;
    padding: 20px 50px 20px 50px;
    position: relative;
    padding: 0px;
    border-radius: 30px;
    outline: none;
  }

#inputText {
  align-content: center;
  white-space: pre-wrap;
  cursor: text;
  width: auto;
  height: auto;
  padding: 10px;
  font-size: medium;
}
.text-type {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 95%;
  height: 20%;
}
.font-name-type {
  margin: 5px 0px 5px 25px;
  padding: 3px 10px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: -5px;
  color: #fff;
  z-index: 50;
  width: 50%;
  border-radius: 25px;
}
.font-name-type.odd {
  font-size: 13px;
  background: #00be00;
  left: 0px;
  width: 650px;
}
.font-name-type.even {
  font-size: 13px;
  background: #00be00;
  left: 0px;
  width: 650px;
}
input {
  display: none;
}
.fontsBoxes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: inherit;
  margin: 10px;
  height: 30px;
  padding: 10px 10px 0px 10px;
  cursor: copy;
  list-style-type: none;
  text-align: center;
  vertical-align: middle;
}
ul {
  list-style-type: none;
  padding-inline: 15px;
}
#snackbar {
  visibility: hidden;
  color: #fff;
  background-color: #333;
  min-width: 250px;
  margin-left: -125px;
  border-radius: 2px;
  padding: 16px;
  text-align: center;
  left: 50%;
  bottom: 30px;
  z-index: 100;
  position: fixed;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}